<div>
    <h3>The following user has requested a sourcing list:</h3>
    <p>{{user_email}} - {{date}}</p>
    <br/>
    <h3>Request details:</h3>
    <p>Current Title: {{title}}</p>
    <p>Prefer Location: {{location}}</p>
    <p>Additional Comment: {{additionalComment}}</p>
    <p>Year of Experience: {{year_of_exp}}</p>
    <p>Seniority Level: {{sen_level}}</p>
    <p>Required Skill Sets: {{req_skill_set}}</p>
    <p>Preferred Skill Sets: {{pre_skill_set}}</p>
    <p>Preferred industry: {{industry_set}}</p>
    <p>Education Level: {{education_level}}</p>
    <br/>
    <p>The job description is here: {{job_url}}</p>
    <br/>
    <p>Job ID: {{job_id}}</p>
    <p>Request ID: {{request_id}}</p>
    <br/>
    <p>Please prepare and share a full list of prospects within 24 hours.</p>
</div>