@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

:root {
  --theme-color: #4356F0;
} 

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.pricing-bg {
  background-image: url("https://hirebeat-assets.s3.amazonaws.com/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 557.76px;
}

.company-bg {
  background-image: url("https://hirebeat-assets.s3.amazonaws.com/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 487px;
}

.home-1 {
  background-image: url("https://hirebeat-assets.s3.amazonaws.com/Home-page/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.home-2 {
  background-image: url("https://hirebeat-assets.s3.amazonaws.com/Subtract.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.home-3 {
  background-image: url("https://hirebeat-assets.s3.amazonaws.com/Home-page/Group+87.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.home-4 {
  background-color: #E5E5E5;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.footer {
  background-color:  #91B8FB;
  background-size: 100%;
  width: 100%;
  height: 100px;
}

.footer-align {
 font-size: 20px;
 font-weight: normal;
 display: flex;
 justify-content: center;
 align-items: center;
}
.gradient-progress-blue {
  background: linear-gradient(277.55deg, #91B8FB 0%, #4689FA 100%);
  border-radius: 10px;
}

.gradient-progress-orange {
  background: linear-gradient(271.92deg, #FAC046 0%, #FF6B00 100%);
  border-radius: 10px;
}

.text-30 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.text-15 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}

.score-radial {
  background: linear-gradient(#4689FA, #91B8FB);
  border-radius: 60px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.height-400 {
  height: 400px;
}

.height-550 {
  height: 550px;
}

.height-700 {
  height: 700px;
}

.height-20 {
  height: 20%;
}

.height-50 {
  height: 50px;
}

.height-30 {
  height: 30px;
}

.borderless {
  border: none;
}

.comments {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;

}

.margin-right-20 {
  margin-right: 20px;
}

.width-150 {
  width: 150px;
}

.light-grey {
  color: #7D7D7D;
}

.my-header-container {
  height: 55px;
  background-color: #4356F0;
}

.my-header {
  height: 30px;
  background-color: #4356F0;
}

.panel-button {
  display: block;
  width: 140px;
  background-color: #fafafb;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin-left: 100px;
}

.card-container {
  padding-top: 60px;
}

.practice-card-container {
  padding-top: 10px;
}

.setup-card {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.practice-card {
  width: 100%;
  margin-top: 10px;
}

.setup-card-body {
  height: 400px;
}

.practice-card-body {
  height: 680px;
}

.test-card-body {
  height: 580px;
}

.card-row {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

.video-recorder-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.prep-countdown-container {
  height: 400px;
  padding-top: 100px;
}

.practice-card-top-row {
  padding-top: 2px;
  display: flex;
  justify-content: center;
}

.card-row-high {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.card-row-mid-high {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.card-row-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.setup-card-row-bottom {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
}

.setup-card-button-container {
  padding: 1;
  height: 200px;
  width: 45%;
}

.vertically-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.dashboard-container {
  margin-top: 50px;
  border: "none";
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 1%;
}

.dashboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.dashboard-align-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.my-modal {
  min-width: 70%;
  min-height: 600px;
}

.line {
  width: 40%;
  height: 2px;
  border-bottom: 1px solid #E5E5E5;
}
/* override textarea*/
textarea:focus::placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */



.form-control::placeholder {
  font-size: 20px!important;
  padding-left: 20px !important;
  font-weight: normal !important;
}
.form-control::-webkit-input-placeholder {
  font-size: 20px!important;  
  padding-left: 20px !important;
  font-weight: normal !important;

}
.form-control:-moz-placeholder {
  font-size: 50px!important;
  padding-left: 20px !important;
  font-weight: normal !important;

 
} /* FF 4-18 */
.form-control::-moz-placeholder {
  font-size: 50px!important;
  padding-left: 20px !important;
  font-weight: normal !important;


} /* FF 19+ */
.form-control:-ms-input-placeholder {
  font-size: 50px!important;
  padding-left: 20px !important;
  font-weight: normal !important;

} /* IE 10+ */

/* video js */
.video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}

.video-js .vjs-menu-button-inline:before {
  width: 1.5em;
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
  display: block;
}

.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
  padding: 0 0.4em 0.3em;
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.video-js .vjs-big-play-button {
  display: block;
}

.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1em;
}

.video-js .vjs-big-play-button {
  background-color: var(--theme-color);
  font-size: 2.5em;
  border-radius: 50%;
  height: 2em !important;
  line-height: 2em !important;
  margin-top: -1em !important;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
  background-color: var(--theme-color);
}

.video-js .vjs-loading-spinner {
  border-color: var(--theme-color);
}

.video-js .vjs-control-bar2 {
  background-color: transparent;
}

.video-js .vjs-control-bar {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #ffffff;
  font-size: 12px;
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background-color: var(--theme-color);
}

.video-js .vjs-big-play-button {
  height: 2em !important;
  width: 2em !important;
  line-height: 1.7em !important;
  margin-top: -1em !important;
  margin-left: -1em;
  border-width: 4px;
}

.video-js .vjs-icon-play:before,
.video-js .vjs-big-play-button:before {
  font-size: 40px;
}

.video-js .vjs-progress-holder {
  font-size: 1.7em;
  border-radius: 10px;
}

.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div,
.video-js .vjs-slider,
.vjs-volume-level {
  border-radius: 10px;
}

.video-js .vjs-load-progress {
  background: rgba(255, 255, 255, 0.5);
}

.video-js,
.video-js video,
.vjs-poster,
.video-js .vjs-tech {
  border-radius: 8px;
}

h5 {
  color: #7d7d7d;
}

.btn-success {
  background-color: #14CC75;
  border-radius: 50px;
}

.btn-primary {
  background-color: #FF6B00;
  border-radius: 50px;
}

.btn-selected {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  text-align:center;
  margin-right: 15px;
  background: #4689FA;
  border-radius: 5px;
}

.btn-unselected {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #91B8FB;
  display: block;
  text-align:center;
  margin-right: 15px;
  background: #FFFFFF;
  border-color: #2196F3;
  border-radius: 5px;
}

.text-secondary {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.h3 {
  font-family: Lato;
  font-style: normal;
  color: #000000;
}

.review-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #4689FA;
}

.text-20 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.text-10 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: right;
}

.not-reviewed {
  width: 226px;
  height: 34px;
  background: #FF6B00;
  box-shadow: 0px 4px 25px rgba(255, 107, 0, 0.25);
  border-radius: 50px;
  border: 0px;
}

.under-review {
  width: 226px;
  height: 34px;
  background: #7D7D7D;
  box-shadow: 0px 4px 25px rgba(125, 125, 125, 0.25);
  border-radius: 50px;
  border: 0px;
}

.reviewed {
  width: 226px;
  height: 34px;
  background: #14CC75;
  box-shadow: 0px 4px 25px rgba(20, 204, 117, 0.25);
  border-radius: 50px;
  border: 0px;
}

.upgrade {
  background: #FF6B00;
  box-shadow: 0px 4px 25px rgba(255, 107, 0, 0.25);
  border-radius: 50px;
  width: 116px;
  height: 34px;
}

.company-top-text{
  position: absolute;
width: 538px;
height: 120px;
left: 144px;
top: 162px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 60px;
color: #FFFFFF;
}

.company-top-text1{
  position: absolute;
width: 394px;
height: 24px;
left: 143px;
top: 314px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}

.company-top-placeholder{
  position: absolute;
width: 715px;
height: 378px;
left: 613px;
top: 282px;
filter: drop-shadow(0px 0px 50px rgba(70, 137, 250, 0.1));
border-radius: 10px;
}

.company-mid1{
  position: absolute;
width: 381px;
height: 133px;
left: 141px;
top: 665px;
}

.company-mid2{
  position: absolute;
width: 519px;
height: 133px;
left: 434px;
top: 822px;
}

.company-footer{
  position: absolute;
  top: 3000px;
  left: 613px;
}

.company-mid3{
  position: absolute;
width: 485px;
height: 133px;
left: 807px;
top: 979px;
}

.company-mid4-text{
  position: absolute;
width: 472px;
height: 48px;
left: 141px;
top: 1177px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
color: #000000;
}

.company-mid4-line1{
  position: absolute;
width: 41px;
height: 40px;
left: 150px;
top: 1298px;
}

.company-mid4-line1-text{
  position: absolute;
width: 980px;
height: 40px;
left: 231px;
top: 1298px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
color: #7D7D7D;
}

.company-mid4-line2{
  position: absolute;
width: 41px;
height: 40px;
left: 150px;
top: 1403px;
}

.company-mid4-line2-text{
  position: absolute;
width: 925px;
height: 40px;
left: 231px;
top: 1403px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
color: #7D7D7D;
}

.company-mid4-line3{
  position: absolute;
  width: 41px;
  height: 34px;
  left: 150px;
  top: 1511px;
}

.company-mid4-line3-text{
  position: absolute;
  width: 892px;
  height: 40px;
  left: 231px;
  top: 1508px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
color: #7D7D7D;
}

.company-mid4-line4{
  position: absolute;
width: 41px;
height: 34px;
left: 150px;
top: 1616px;
}

.company-mid4-line4-text{
  position: absolute;
  width: 951px;
  height: 40px;
  left: 231px;
  top: 1613px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
color: #7D7D7D;
}

.company-mid5-bg{
  position: absolute;
width: 1440px;
height: 714px;
left: 0px;
top: 1736px;
background: linear-gradient(202.18deg, rgba(75, 173, 228, 0.1) 39.11%, rgba(67, 86, 240, 0.1) 92.07%);
}

.company-mid5-toptext{
  position: absolute;
width: 110px;
height: 18px;
left: 665px;
top: 1849px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
color: #000000;
}
.company-mid5-83-icon{
  position: absolute;
width: 265px;
height: 265px;
left: 180px;
top: 1932px;
}
.company-mid5-84-icon{
  position: absolute;
  width: 265px;
  height: 265px;
  left: 540px;
  top: 1932px;
}
.company-mid5-85-icon{
  position: absolute;
  width: 265px;
  height: 265px;
  left: 890px;
  top: 1932px;
}
.company-mid5-text1{
  position: absolute;
width: 281px;
height: 71px;
left: 214px;
top: 2270px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #000000;
}
.company-mid5-text2{
  position: absolute;
  width: 281px;
  height: 71px;
  left: 582px;
  top: 2270px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #000000;
}
.company-mid5-text3{
  position: absolute;
  width: 281px;
  height: 71px;
  left: 929px;
  top: 2270px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #000000;
}

.company-bottom-title{
  position: absolute;
width: 71px;
height: 18px;
left: 685px;
top: 2517px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
color: #000000;
}

.company-bottom-rec1{
  position: absolute;
width: 326px;
height: 264px;
left: 141px;
top: 2583px;

background: #FFFFFF;
/* card2 */

box-shadow: 0px 0px 50px rgba(70, 137, 250, 0.1);
border-radius: 10px;
}
.company-bottom-rec2{
  position: absolute;
  width: 326px;
  height: 264px;
  left: 557px;
  top: 2583px;
  
  background: #FFFFFF;
  /* card2 */
  
  box-shadow: 0px 0px 50px rgba(70, 137, 250, 0.1);
  border-radius: 10px;
}
.company-bottom-rec3{
  position: absolute;
  width: 326px;
  height: 264px;
  left: 973px;
  top: 2583px;
  
  background: #FFFFFF;
  /* card2 */
  
  box-shadow: 0px 0px 50px rgba(70, 137, 250, 0.1);
  border-radius: 10px;
}

.company-bottom-email1{
  position: absolute;
width: 204px;
height: 29px;
left: 61px;
top: 197px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
text-decoration-line: underline;
color: #FF6B00;
}

.company-bottom-rec1-title1{
  position: absolute;
width: 274px;
height: 39px;
left: 26px;
top: 33px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;
}

.company-bottom-rec1-text1{
  position: absolute;
width: 274px;
height: 96px;
left: 26px;
top: 84px;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #7D7D7D;
}
