<!DOCTYPE html>
<html lang="en">
  {% load django_seo_js %}  
  <head>
    {% seo_js_head %}

    <!-- Humming code start -->
    <!-- Google Ads: 443211953 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-443211953"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-443211953');
    </script>
    <script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10144996'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
    <!-- Humming code end -->
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-NKXDD5V"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://video-react.js.org/assets/video-react.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <link rel="canonical" href="https://app.hirebeat.co/blog-4-amazing-tips-to-effectively-networking-during-covid-19"/>
    <title>HireBeat Blog – 4 Amazing Tips to Effectively Networking During Covid-19</title>
    <meta name="Description" CONTENT="Wondering how you can network effectively and expand your professional network? Here are the four most amazing tips through which you can ace any interview or land your most desirable job without much effort."/>
    <meta property="og:title" content="HireBeat Blog – 4 Amazing Tips to Effectively Networking During Covid-19" />
    <meta property="og:description" content="Wondering how you can network effectively and expand your professional network? Here are the four most amazing tips through which you can ace any interview or land your most desirable job without much effort." />
    <meta property="og:image" content="https://hirebeat-assets.s3.amazonaws.com/blog/blog21.jpg" />
    <meta property="og:url" content="https://app.hirebeat.co/blog-4-amazing-tips-to-effectively-networking-during-covid-19" />
    <meta property="og:image:alt" content="HireBeat Blog – 4 Amazing Tips to Effectively Networking During Covid-19" />
    <meta property="og:type" content="website" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'/>
    <!-- <link href="video-js.min.css" rel="stylesheet"> -->
    <!-- <script src="video.min.js"></script>
    <script src="RecordRTC.js"></script>
    <script src="videojs.record.js"></script>
    <link href="videojs.record.css" rel="stylesheet">  -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet"/>
    <link rel="icon" 
     type="image/png" 
     href="https://hirebeat-assets.s3.amazonaws.com/hirebeat_logo.ico" />
    <meta name="google-site-verification" content="eMA7C72cNCGmjuBY9-G6ngbajAf0raVeN9s-vms2tU0" />
    <!-- Snap Pixel Code --> <script type='text/javascript'> 
    (function(e,t,n)
    {if(e.snaptr)return;var a=e.snaptr=function() {
      a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)}; 
      a.queue=[];var s='script';r=t.createElement(s);r.async=!0; 
      r.src=n;var u=t.getElementsByTagName(s)[0]; u.parentNode.insertBefore(r,u);})
      (window,document, 'https://sc-static.net/scevent.min.js'); 
      snaptr('init', '883719e1-3ea9-4eee-9768-d3093217a46b', { 'user_email': '__INSERT_USER_EMAIL__' }); 
      snaptr('track', 'PAGE_VIEW'); </script> 
    <!-- End Snap Pixel Code -->

    {% load static %}
    <script src="{% static "frontend/main481.js" %}" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous" async defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous" async defer></script>
    <script src="https://smtpjs.com/v3/smtp.js" async defer>
    </script>
  </head>
  <body class="container-fluid bg-white p-0 m-0">

    <div id="app"></div>
<!-- Start of Fresh Chat Code -->
     <script>
      function initFreshChat() {
        window.fcWidget.init({
          token: "dd66f2d4-3365-4d85-a38b-1e9b63ab2cf2",
          host: "https://wchat.freshchat.com"
        });
      }
      function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"Freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
    </script>
    <!-- End of Fresh Chat Code -->
  </body>
</html>
