<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MKHJ38Q');</script>
    <!-- End Google Tag Manager -->
    <!-- Humming code start -->
    <!-- Google Ads: 443211953 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-443211953"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-443211953');
    </script>
    <script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10144996'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
    <!-- Humming code end -->
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-NKXDD5V"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://video-react.js.org/assets/video-react.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <link rel="canonical" href="https://hirebeat.co/job-seekers-career"/>
    <title>HireBeat – Job Seekers Career</title>
    <meta name="Description" CONTENT="Job Seekers Career Info"/>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'/>
    <!-- <link href="video-js.min.css" rel="stylesheet"> -->
    <!-- <script src="video.min.js"></script>
    <script src="RecordRTC.js"></script>
    <script src="videojs.record.js"></script>
    <link href="videojs.record.css" rel="stylesheet">  -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet"/>
    <link rel="icon"
     type="image/png"
     href="https://hirebeat-assets.s3.amazonaws.com/hirebeat_logo.png" />
    <meta name="google-site-verification" content="eMA7C72cNCGmjuBY9-G6ngbajAf0raVeN9s-vms2tU0" />
    <!-- Snap Pixel Code --> <script type='text/javascript'>
    (function(e,t,n)
    {if(e.snaptr)return;var a=e.snaptr=function() {
      a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
      a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
      r.src=n;var u=t.getElementsByTagName(s)[0]; u.parentNode.insertBefore(r,u);})
      (window,document, 'https://sc-static.net/scevent.min.js');
      snaptr('init', '883719e1-3ea9-4eee-9768-d3093217a46b', { 'user_email': '__INSERT_USER_EMAIL__' });
      snaptr('track', 'PAGE_VIEW'); </script>
    <!-- End Snap Pixel Code -->

    {% load static %}
    <script src="{% static "frontend/main389.js" %}" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous" async defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous" async defer></script>
    <script src="https://smtpjs.com/v3/smtp.js" async defer>
    </script>
    
  </head>
  <body class="container-fluid bg-white p-0 m-0">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKHJ38Q"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app"></div>
    <script src="//code.tidio.co/qblsao1dlxwzunsdnjwfgwykl3pdx0mx.js" async defer></script> <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20214785.js"></script>
<!-- End of HubSpot Embed Code -->
  </body>
</html>
