Hi {{name}},

Congratulations! You have passed the first round screening of {{job_title}} at {{company_name}}. {{company_name}}
invites you to complete a virtual interview on HireBeat.

<strong> Please do not click below link until you are full prepared: </strong>
    {{url}}

If you have any question for our product - HireBeat, feel free to reach out to us via tech@hirebeat.co.
If you have other questions regarding interview specifics, please reach out to the correspondent from {{company_name}}.

Best luck!
The HireBeat Team