<img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo" style="display:inline-block"></img>
<h3 style="display: inline-block; color: #56a3fa;">HireBeat</h3>
<h3>Hi {{name}},</h3>
<h3 style="margin-top: 2rem;">Congratulations! <span style="color: #56a3fa;">{{company_name}}</span> is inviting you for an interview!</h3>
<p>You have passed the first round screening of <span style="color: #56a3fa;">{{job_title}}</span> at <span style="color: #56a3fa;">{{company_name}}</span>. We invited you to complete a virtual interview on HireBeat.</p>
<p style="margin-top: 2rem;">Use the link below to get started:</p>
	
<a href={{url}} style="margin-top: 2rem; font-weight: 600; color: #56a3fa; margin-left: 2rem;">{{url}}</p>

<p style="color: #56a3fa; margin-top: 1rem;">Please use the same email when registering HireBeat account.</p>

<a href="https://hirebeat.co/register" style="color: #56a3fa; margin-top: 3rem;">Practice on HireBeat First</a>
	
<p style="margin-top: 2rem;">If you have any question for the product - HireBeat, feel free to reach out via <a href = "mailto: tech@hirebeat.co">tech@hirebeat.co</a> or visit the website <a href="https://hirebeat.co/">www.hirebeat.co</a> for more info.</p>

<p style="margin-top: 2rem;">If you have other questions regarding interview specifics, please reach out to the correspondent from {{company_name}}.</p>
		
<p style="margin-top: 1rem;">Best luck!</p>
		
<p style="margin-top: 1rem;">The HireBeat Team</p>