<div style="margin: auto; width: 80%; font-family: Arial, Helvetica, sans-serif;">
    <img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo" style="display:inline-block"></img>
    <h3 style="display: inline-block; color: #56a3fa;">HireBeat</h3>
    <div style="padding: 10px; background-color: #e8edfc; border-radius: 5px;">
    <h2 style="margin-top: 2rem;">Video Interview with <span style="color: #56a3fa;">{{company_name}}</span> for <span style="color: #56a3fa;">{{job_title}}</span></h2>
    <hr style="height:2px;border-width:0;color:lightskyblue;background-color:lightskyblue">
    <p>Dear <strong style="color: #090d3a;">{{name}}</strong>,</p>
    <p style="margin-top: 2rem;">Thank you for submitting your application for the <strong style="color: #090d3a;">{{job_title}}</strong>. We are pleased to inform you that you have passed our initial resume scanning. To move forward with your application, we would like to invite you to finish our online video interview process powered by HireBeat.</p>
    <p style="margin-top: 2rem;">To be considered, please submit your video as soon as possible. Your interview session will expire after <strong style="color: #090d3a;">{{expire}} days</strong>.</p>
    <p style="color: #090d3a;"><strong>Please use the same email when registering HireBeat account.</strong></p>
    <a href={{url}} style="text-decoration: none; color: #ffffff; font-size: larger; width: auto; display: inline-block; background-color: #67a3f3; border-radius: 4px; border: 1px solid #e8edfc; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">Start Your Interview</a>
    <p style="margin-top: 2rem;">If you are unfamiliar with online interview video, we encourage you to use the interview practice function on HireBeat before you officially start the interview.</p>
    <a href="https://hirebeat.co/job-seekers-howitworks" style="text-decoration: none; color: #ffffff; font-size: larger; width: auto; display: inline-block; background-color: #090d3a; border-radius: 4px; border: 1px solid #e8edfc; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; margin-right: 5%;">Interview Practice</a>
    <p style="margin-top: 2rem;">If you encounter any technical issues or disruption during your interview, please email <a href = "mailto: tech@hirebeat.co">tech@hirebeat.co</a>.</p>
    <p style="margin-top: 2rem;">Good luck!</p>
    <p>{{company_name}}</p>
    </div>
</div>