<div style="margin: auto; width: 80%; font-family: Arial, Helvetica, sans-serif;">
    <img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo" style="display:inline-block"></img>
    <h3 style="display: inline-block; color: #006dff;">HireBeat</h3>
    <h2 style="margin-top: 2rem;">Co-review Invitation to HireBeat for <span style="color: #006dff;">{{company_name}}</span></h2>
    <hr style="height:2px;border-width:0;color:lightskyblue;background-color:lightskyblue">
    <p>Dear {{name}},</p>
    <p style="margin-top: 2rem;">You have been added to the <strong>{{company_name}}</strong> HireBeat account to review <strong>{{position_name}}</strong> position.</p>
    <p style="margin-top: 2rem;">You were added by <strong>{{master_email}}</strong>.</p>
    <p style="margin-top: 2rem;">Set up your account and review your applicants with your team.</p>
    <a href={{link}} style="text-decoration: none; color: #ffffff; font-size: larger; width: auto; display: inline-block; background-color: #006dff; border-radius: 4px; border: 1px solid #e8edfc; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">Set your Account</a>
    <p style="margin-top: 2rem;">Regards,</p>
    <p>HireBeat Team</p>
</div>