<img src="https://hirebeat-assets.s3.amazonaws.com/HireBeatLogo2.png" alt="HireBeat Logo" style="display:inline-block"></img>
<h3 style="display: inline-block; color: #006dff;">HireBeat</h3>
<h3 style="margin-top: 2rem;">New feedback!</h3>
<div style="margin-top: 2rem;">New Feedback from {{email}}: <br />
    First Name: {{firstName }} <br />
    Last Name: {{lastName}} <br />
    Company: {{companyName}}<br />
    Phone Number: {{phone}}<br />
    Ticket Name: {{ticket}}<br />
    Category: {{category}}<br />
    Feedback: {{feedback}}
</div>
